/bin/
.classpath
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
.classpath
.classpath
CS611-LegendsValor.iml
